<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input matInput
           [placeholder]="titulo"
           [name]="controlName"
           [formControlName]="controlName">
    <mat-error *ngIf="validarCamposService.hasErrorValidar(formControl, 'required')">Campo Obrigatório!</mat-error>
    <mat-error *ngIf="validarCamposService.hasErrorValidar(formControl, 'minlength')">
      O Campo precisa ter no minimo {{validarCamposService.lengthValidar(formControl,'minlength')}} caracteres!
    </mat-error>
    <mat-error *ngIf="validarCamposService.hasErrorValidar(formControl, 'maxlength')">
      O Campo pode ter no maximo {{validarCamposService.lengthValidar(formControl,'maxlength')}} caracteres!
    </mat-error>
  </mat-form-field>
</div>
