.content {
    width: 90%;
    margin: 1.4rem, auto auto auto;
    display: flex;
    flex-direction: column;
    
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 2rem;
    color: rgb(212, 207, 207);
    font-weight: 500;
}

/* .content-table {
    width: 90%;
    margin: auto;
} */

.table {
    width: 100%;
    margin: 0 auto;
}