<div
    fxLayout="column">
    <!-- column: stacking ur children verticaly -->

    <div
        fxLayout="row">

        <div fxFlex="10"
            class="branding">
            <h3>B</h3>
        </div>

        <div
            fxFlex="70">

            <mat-form-field
                class="material-input-full-width">
                <input type="text" placeholder="Select Location" aria-label="Number"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field
                class="material-input-full-width">
                <input matInput placeholder="Search items." value="">
            </mat-form-field>
        </div>

        <div
            fxLayout="row"
            fxFlex="15"
            fxLayoutAlign="end center">

            <button mat-icon-button aria-label="Button with a search icon">
                <mat-icon class="toolbar-icon">Search</mat-icon>
            </button>

            <button
                mat-icon-button
                matBadge="9"
                matBadgeColor="warn"
                [matMenuTriggerFor]="menu">
                <mat-icon class="toolbar-icon">notifications</mat-icon>
            </button>

        </div>

    </div>

    <div
    fxLayout="row">

    </div>
    
</div>